<div class="col s12 m6 l6">
  <%= link_to preview do %>
    <div class="vision_preview card horizontal white">

      <% if preview.image.present? %>
        <div class="card-image" style="background-image: url(<%= preview.image.url %>);"></div>
      <% end %>

      <div class="card-stacked indigo darken-2 white-text">
        <div class="card-content">
          <p>I'd like to live in a world where everyone is treated equally regardless of their gender, ...</p>
        </div>
        <div class="card-action">
          <p>Read more</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
