<div class="card form-container">

  <!-- Header -->
  <div class="card-header">
    <span class="primary-color card-title z-depth-1">
      Error
    </span>
  </div>

  <div class="card-description card-section with-border-bottom">
    <p>
      The page you are looking for does not exist. The token might have expired.
    </p>
  </div>

</div>
