.vision_preview {

  .card-image {
    max-width: 25%;
    width: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-action {
    padding: 10px 20px;
    border-top: 1px solid rgba(255, 255, 255, .5);

    p {
      margin: 0px;
      text-transform: uppercase;
    }
  }

  &:hover, &:focus {
    @extend .z-depth-5;
  }

}

.vision {

  .card-image {
    line-height: 0;
    margin-top: -36px;
  }

  .card-image img {
    width: auto !important;
    position: static !important;
    display: inline-block !important;
  }

  .card-image {
    border-bottom: 1px solid rgba(160,160,160,0.2);
  }

  .card-description {
    padding: 20px;
    border-radius: 0 0 2px 2px;
  }
}
